@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


/* --- WEBSITE SETUP --- */

:root {
  --primary-color: #1E3888;
  --secondary-color:  #47A8BD;
}


* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #000;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0px;
}


/* --- NOTIBAR --- */
.notibar {
  background-color: var(--secondary-color);
  color: #fff;
}

/* --- NAVBAR --- */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 150px;
  font-size: 16px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: #fff;
  padding: 15px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.navbar .btn  {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px var(--primary-color solid);
  text-align: center;
  margin: 0px 10px
}

.navbar .btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  border: var(--primary-color);
}

.navbar .btn:hover .phone {
  font-style: italic;
}

.navbar .phone {
  font-weight: 900;
  font-size: 20px;
}

.navbar .flex {
  justify-content: space-between;
}

/* --- SHOWCASE --- */
.showcase {
  position: relative;
  height: 600px;
  background: var(--primary-color); /* FALLBACK COLOR IF LINEAR GRADIENT FAILS*/
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Resources/css/images/packing.jpg);
  background-size: contain;
  background-position: center;
}

.showcase h1 {
  font-size: 65px;
  font-weight: bold;
}

.showcase h2 {
  font-size: 25px;
}

.showcase p {
  margin: 20px 0;
}

.showcase-text {
  position: relative;
  height: 350px;
  color: #fff;
}

.showcase-text .btn {
  padding: 10px 20px;
}

.showcase .grid {
  grid-template-columns: 60% 40%;
  overflow: visible;
  gap: 50px;
}

.showcase-form {
  color: #000;
  position: relative;
  top: 30px;
  height: 500px;
  width: 100%;
  padding: 35px;
  justify-self: flex-end;
  z-index: 100;
}

.showcase-form h2 {
  font-weight: bold;
}

.showcase-form .form-control {
  padding: 10px;
  
}

.showcase-form input[type='text'],
.showcase-form input[type='date'],
.showcase-form input[type='tel'] {
  border: 0;
  border-bottom: 1.5px solid var(--secondary-color);
  width: 100%;
  font-size: 16px;
}

.form-control .btn {
  padding: 20px 40px;
  font-size: 20px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -50px;
  right: 0px;
  left: 0px;
  background: var(--primary-color);
  transform: skewY(-2deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}


/* --- REASONS --- */
.reasons {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: var(--primary-color);
  z-index: 2;
}

.reasons .card {
  position: relative;
  width: 100%;
}

.reasons-heading {
  font-size: 80px;
  font-weight: bold;
  padding: 125px 0 50px 0;
  color: #fff;
}

.reasons-heading::after {
  content: "";
  display: block; 
  margin: 0 auto; 
  width: 15%; 
  padding-top: 20px ; 
  border-bottom: 5px solid var(--secondary-color); 
}

.reasons-info:hover i,
.reasons-info:hover h3 {
  transform: scale(1.02);
  transition: all .3s ease;
}

.reasons-info:hover i {
  color: var(--secondary-color);
}


.reasons h3 {
  font-size: 25px;
  font-weight: bold;
}

.reasons p {
  font-size: 20px;
  padding: 0px 15px;
}

.reasons i {
  color: var(--primary-color);
  padding: 25px 0;
}

/* --- SERVICES --- */
.services {
  margin: 200px 0px;
}

.services-heading {
  font-size: 65px;
  font-weight: bold;
  padding: 50px 0 25px 0;
  color: #000;
}

.services-heading::after {
  content: "";
  display: block; 
  margin: 0 auto; 
  width: 10%; 
  padding-top: 20px; 
  border-bottom: 5px solid var(--secondary-color); 
}

.services .grid {
  grid-template-columns: repeat(3, 1fr);
}

.services .card {
  position: relative;
  width: 350px;
  height: 500px;
  box-shadow: none;
  border: .5px solid #333;
  padding: 0px;
}

.services .card:hover {
  transform: scale(1.02);
  transition: all .3s ease;
  box-shadow: 0px 5px 5px 2px rgb(0, 0, 0, 0.4);
  outline: 5px solid var(--primary-color);
}

.services .card:hover i {
  color: var(--primary-color);
}

.services h3 {
  text-align: center;
  font-size: 25px;
}

.services p {
  text-align: center;
  word-break: keep-all;
  padding: 25px;
  transform: none;
  line-height: 1.8;
}

.services i {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* --- ABOUT US --- */

.about {
  background-color: #dbdbdb;
  padding: 30px 0px 70px 0;
}

.about-heading {
  font-size: 65px;
  font-weight: bold;
  padding: 40px 0px;
  color: #000;
}

.about-heading::after {
  content: "";
  display: block; 
  margin: 0 auto; 
  width: 10%; 
  padding: 10px 0; 
  border-bottom: 5px solid var(--secondary-color); 
}

.about .container {
  display: flex;
  flex-flow: row nowrap;
}

.about-pic {
  display: flex;
  width: 100%;
  margin: 0px 100px 20px 0px;
}

.about-pic img {
  margin-bottom: 20px;
  border-radius: 50%;
}

.about-pic h3 {
  font-size: 30px;
}

.about-info {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  width: 100%;
}

.about-info p {
  padding-bottom: 20px; 
  margin: 0;
  font-size: 20px;
}

.about-info a {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid var(--secondary-color);
  background-color: #fff;
  color: var(--secondary-color);
}

.about-info a:hover {
  background-color: var(--primary-color);
  color: #fff;
}


/* --- REVIEWS --- */

.reviews {
  padding: 70px 0;
  background: #fff;
}

.reviews-heading {
  font-size: 65px;
  font-weight: bold;
}

.reviews-heading::after {
  content: "";
  display: block; 
  margin: 0 auto; 
  width: 20%; 
  padding: 20px 0; 
  border-bottom: 5px solid var(--secondary-color); 
}

.reviews-container {
  display: flex;
  margin-top: 50px;
}

.reviews .card {
  box-shadow: 0px 5px 5px rgb(8, 18, 80, 0.5);
  
}

.quote {
  display: flex;
  flex-flow: column ;
  justify-content: center;
  align-content: center;
  height: 250px;
  width: 100%;
}

.reviews .stars {
  color: yellow;
}

/* --- CALL TO ACTION --- */

.cta {
  background-color: #dbdbdb;
}

.cta-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 65px ;
}

.cta h3 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

.cta .btn {
  padding: 15px 50px;
}

/* --- FOOTER --- */

.footer {
  background-color: var(--primary-color);
  color: #fff;
}

.footer h3 {
  font-size: 24px;
  font-weight: bold;
}

.footer a {
  color: #fff;
}

.footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer-first-row {
  height: 250px;
  margin-top: 20px;
  padding: 0px 20px;
  flex: 1 0 300px;
  align-items: center;
  justify-content: center;
  
}

.footer-contact {
  display: flex;
  flex-flow: column wrap;
  margin-right: 20px;
}

.footer-contact p:hover {
  color: var(--secondary-color);
  font-style: italic;
}

.footer-nav {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  margin-right: 20px;
}

.footer-nav a:hover {
  color: var(--secondary-color);
}

.footer-social ul {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 75px;
}

.footer-social li {
  padding: 20px;
}

.footer-social a:hover {
  color: var(--secondary-color);
}

.footer-copyright {
  margin-top: 20px;
}

/* TABLETS & UNDER */

@media (max-width: 768px) {

  .grid,
  .showcase .grid {
    grid-template-columns: 1fr  ;
    grid-template-rows: 1fr;
  }
  .navbar .btn {
    white-space: nowrap;
  }

  .navbar .phone {
    font-size: 14px;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    top: -125px;
  }

  .showcase-form h2,
  .showcase-form p {
    text-align: center;
  }

  .showcase-form input.btn {
    margin-left: 225px;
  }

  .reasons-heading {
    padding: 35px 0;
    font-size: 55px;
  }

  .services-heading {
    padding-top: 150px ;
  }

  .services .grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }

  .about .container {
    flex-flow: column;
  }

  .reviews q,
  .reviews p {
    font-size: 12px;
  }

  .cta h3 {
    text-align: center;
  }

  .footer .container {
    flex-flow: row wrap;
  }
 
}

/* --- MOBILE --- */
@media (max-width: 500px) {
  
  .navbar .list{
    display: none;
  }

  .navbar h1 {
    font-size: 18px;
  }

  .navbar .btn {
    margin: right;
    padding: 10px 20px;
    font-size: 12px;
  }
  

  .reasons {
    height: auto;
  }

  .reasons .grid {
    grid-template-columns: repeat(1, 3fr);
  }

  .services {
    margin: 0px;
  }

  .services-heading {
    padding-top: 50px;
  }

  .services .grid {
    grid-template-columns: repeat(1, 6fr);
    margin: 50px 0px;
  }

  .services .card {
    margin: 0px auto;
  }

  .about-info {
    text-align: center;
  }

  .reviews-container {
    flex-direction: column;
  }

  .reviews .card {
    box-shadow: 0px 0px 10px rgb(8, 18, 80, 0.5);
  }

  .reviews q,
  .reviews p {
    font-size: 14px;
  }

  .cta-info {
    padding: 65px 0px;
  }
  .cta-info h3 {
    font-size: 25px;
  }

  .footer .container {
    flex-flow: row wrap;
  }

  .footer-section {
    margin: 20px;
    padding: 0px;
    height: auto;
  }

  .footer-social ul {
    padding: 0px;
    justify-content: center;
  }
}


